.color-morado {
  /* background-color: #9a3de0 !important; */
  background-color: #002366 !important;
}

.borde {
  border: 2px solid #c5b8da !important;
}

.text-morado {
  color: #002366 !important;
}


